:root {
  --header-color: #282c34;
  --header-text-color: #ffffff;
  --body-color: #e8e8e8;
  --body-text-color: #333333;
  --stocklist-header-color: #64748b;
  --stocklist-header-text-color: #64748b;
  --stocklist-button-color: #f8f9fa;
}

body {
  background-color: var(--body-color);
  color: var(--body-text-color);
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.App {

}

.App-Title {
  font-size: max(10px, calc(3vmin));
  color: var(--header-text-color);
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: min-height 0.4s ease, font-size 0.3s ease;
}

.App-Title.Small {
  min-height: 0;
  justify-content: flex-start;
  font-size: 10px;
  opacity: 0.9;
}

.App-Title.Small h1 {
  margin-left: 20px;
}

.App-Header {
  display: flex;
  background-color: var(--header-color);
  flex-direction: column;
}

.App-Header.Small {
  flex-direction: row;
}

.App-Right {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  background-color: var(--header-color);
}

.App-Routes {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.App-Routes a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--header-text-color);
  border-radius: 5px;
  font-size: 20px;
  transition: color 0.1s ease;
}

.App-Routes a:hover {
  color: yellow;
}

.App-Routes a.active {
  color: white;
}

.StockList-Header {
  background-color: var(--stocklist-header-color);
  color: var(--stocklist-header-text-color);
  text-align: center;
  line-height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  justify-content: flex-end;
}

.StockList-Cards {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.StockList-Card {
  text-align: left;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: 450px;
}

.StockList-Card-Title {
  font-weight: bold;
  color: #808080;
  font-size: 15px;
}

.StockList-Card-Company {
  font-size: 25px;
}

.StockList-Card-Sector {
  font-size: 15px;
  color: #363636;
}

.StockList-Search {
  max-width: 500px;
  background-color: var(--stocklist-button-color);
}

.StockList-OrderBy, .StockList-Sector{
  background-color: var(--stocklist-button-color);
}