:root {
  --header-color: #282c34;
  --header-text-color: #ffffff;
  --body-color: #e8e8e8;
  --body-text-color: #333333;
  --stocklist-header-color: #64748b;
  --stocklist-header-text-color: #64748b;
  --stocklist-button-color: #f8f9fa;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--body-color);
  color: var(--body-text-color);
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.App {

}

.App-Title {
  font-size: max(10px, calc(3vmin));
  color: var(--header-text-color);
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: min-height 0.4s ease, font-size 0.3s ease;
}

.App-Title.Small {
  min-height: 0;
  justify-content: flex-start;
  font-size: 10px;
  opacity: 0.9;
}

.App-Title.Small h1 {
  margin-left: 20px;
}

.App-Header {
  display: flex;
  background-color: var(--header-color);
  flex-direction: column;
}

.App-Header.Small {
  flex-direction: row;
}

.App-Right {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  background-color: var(--header-color);
}

.App-Routes {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.App-Routes a {
  text-decoration: none;
  padding: 10px 10px;
  color: var(--header-text-color);
  border-radius: 5px;
  font-size: 20px;
  transition: color 0.1s ease;
}

.App-Routes a:hover {
  color: yellow;
}

.App-Routes a.active {
  color: white;
}

.StockList-Header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--stocklist-header-color);
  color: var(--stocklist-header-text-color);
  padding: 10px 15px;
}

.StockList-Search {
  background-color: var(--stocklist-button-color);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.StockList-Search:hover, .StockList-OrderBy:hover, .StockList-Sector:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.StockList-OrderBy, .StockList-Sector{
  background-color: var(--stocklist-button-color);
  font-size: 15px;
  color: #363636;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.StockList-Sector-OrderBy-Left {
  display: flex;
  gap: 15px;
  margin-right: auto;
}

.StockList-Search-Center {
  display: flex;
  justify-content: center;
}

{/* The point of this is to center the search bar*/}
.StockList-Right-Space {
  min-width: 375px; /* May Need to adjust this for smaller screens...*/
  pointer-events: none;
}

.StockList-SearchFields {
  display: flex;
  margin-left: auto;
  gap: 15px;
}

.SearchFields {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.SearchFields:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.StockList-Cards {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.StockList-Card {
  text-align: left;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 450px;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.StockList-Card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.StockList-Card-Graph {
  overflow: hidden;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

.StockList-Card-Graph.Expanded {
  height: 100px;
}

.StockList-Card-Graph-Buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
  margin-bottom: 15px;
}

.StockList-Card-Graph-Buttons button {
  border: none;
  background: none;
  cursor: pointer;
  position: relative; /* Positioning for the pseudo-element */
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Use inherited color for the text */
}

.StockList-Card-Graph-Buttons button:hover {
  font-weight: bold;
}

.StockList-Card-Graph-Buttons button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* Position the line at the bottom */
  width: 100%; /* Full width of the button */
  height: 2px; /* Adjust the height of the underline */
  background: black; /* Color of the underline */
  transform: scaleX(0); /* Initial state (hidden) */
  transition: transform 0.3s ease; /* Smooth transition effect */
}

.StockList-Card-Graph-Buttons button:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
}

.StockList-Card-Title {
  font-weight: bold;
  color: #808080;
  font-size: 15px;
}

.StockList-Card-Company {
  font-size: 25px;
}

.StockList-Card-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.StockList-Card-Bottom {
  margin-top: auto;
}

.StockList-Empty {
  font-size: max(10px, calc(2.5vmin));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  list-style: none;
  text-align: center;
}

.StockList-Empty h1 {
  border-radius: 16px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  font-weight: normal;
}

.StockList-Empty em {
  font-size: 80%;
  color: grey;
}